@charset "utf-8";
*{
    padding: 10px;
}
main{
  display:grid;
  justify-content: center;
  grid-template-areas:
    'h h h h'
    'asb a a asj'
    'asb a a asj'
    'f f f f';
    font-size: 20px;
    margin: auto;
    
    text-align: center;
    border: solid 1px gray;
    
    
}
header {
    border: solid 1px gray;
    display: grid;
    grid-area: h;
   
}

#bal{
   border: solid 1px gray;
    display: grid;
    grid-area: asb;

 
   
}

article{
    border: solid 1px gray;
    display: grid;
    grid-area: a;
   background-color: lightblue;
   background-image: url('kepek/csonak.png');
   background-repeat: no-repeat;
   float: center;
    
/*    background-color: blue;*/
}

footer{
    
    border: solid 1px gray;
    display: grid;
   grid-area: f; 
}

#jobb{
    display:grid;
    border: solid 1px gray;
    grid-area: asj;
}


.kiemel
{
    border:solid 2px red;
    cursor: grab;
    
}
img{
    width: 150px;
  height: 150px;
  float: left ;
  
  
  
  
}


